body{
    background: rgb(221, 142, 86);
    margin: 0cm 8cm 0cm 8cm ;
    border: 3px solid black;
    padding: 0.5cm 1cm 0.5cm 1cm;
}

.report{
    border: 2px solid black;
    padding: .5cm;
    }
